@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-analytics:before {
	content: "\e000";
}
.flaticon-arrow487:before {
	content: "\e001";
}
.flaticon-arrowhead7:before {
	content: "\e002";
}
.flaticon-arrowheads3:before {
	content: "\e003";
}
.flaticon-calendar-icons:before {
	content: "\e004";
}
.flaticon-chain9:before {
	content: "\e005";
}
.flaticon-contents:before {
	content: "\e006";
}
.flaticon-email126:before {
	content: "\e007";
}
.flaticon-facebook55:before {
	content: "\e008";
}
.flaticon-linkedin11:before {
	content: "\e009";
}
.flaticon-manager:before {
	content: "\e00a";
}
.flaticon-map-pointer2:before {
	content: "\e00b";
}
.flaticon-menu7:before {
	content: "\e00c";
}
.flaticon-report1:before {
	content: "\e00d";
}
.flaticon-right39:before {
	content: "\e00e";
}
.flaticon-screen78:before {
	content: "\e00f";
}
.flaticon-screen80:before {
	content: "\e010";
}
.flaticon-sign20:before {
	content: "\e011";
}
.flaticon-ticket:before {
	content: "\e012";
}
.flaticon-twitter1:before {
	content: "\e013";
}
.flaticon-web-programming:before {
	content: "\e014";
}
